/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
@import "./actiontext.scss";
@import 'bulma-tagsinput.min';

.img-placeholder {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	background-color: gray;
}

.container-hcenters {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-avatar {
	height: 30vh;
	width: 100%;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body {
	background-color: #f7fbff!important;
}
