// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bulma';

#article-content {
  height: 60vh !important;
  max-height: 65vh !important;
  overflow: scroll;
  overflow-y: auto;
}

.form-actions {
	padding-top: 4px;
}

.tags {
	padding: 1rem;
	border-radius: $box-radius;
}
